
    <div class="row" >
        <section class="col-sm-12 col-md-4 mx-auto my-auto text-center" >
            <h2 class="footer reseau m-2 text-danger">Nous Suivre</h2>
            <div class="mb-2">
               <i class="fa-brands fa-linkedin text-danger"></i><a class="text-decoration-none text-white" href="https://www.linkedin.com/in/sherley-limery/"> linkedin.com</a>
            </div>
            <div class="mb-2">
               <i class="fa-brands fa-github text-danger"></i><a class="text-decoration-none text-white" href="https://github.com/sherley1997"> Github.com </a>
            </div>
            <div class="mb-2">
               <i class="fa-solid fa-envelope-open-text text-danger"></i><a class="text-decoration-none text-white" href="mailto:limery.s1997@gmail.com"> Adresse mail</a>
            </div>
            <div class="mb-2">
               <i class="fa-solid fa-phone text-danger"></i><a class="text-decoration-none text-white" href="tel:+330652254813"> 0652254813</a>
            </div>
        </section>

        <iframe class="col-sm-12 col-md-4 mx-auto my-auto text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42201.04918969441!2d2.046100038867878!3d48.61815834161887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5d3552e54c255%3A0x40b82c3688b4630!2s91470%20Forges-les-Bains!5e0!3m2!1sfr!2sfr!4v1678046260742!5m2!1sfr!2sfr"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <section class="col-sm-12 col-md-4 mx-auto my-auto text-center" >
            <h2 class="footer reseau m-2 text-danger">Télécharger</h2>
            <div class="mb-2">
                <a class="text-decoration-none text-white" href="#">Cookie </a><i class="fa-solid fa-cookie text-danger"></i>
            </div>
            <div class="mb-2">
                <a class="text-decoration-none text-white" href="#">Windows </a><i class="fa-brands fa-windows text-danger"></i>
            </div>
            <div class="mb-2">
                <a class="text-decoration-none text-white" href="#">Android </a><i class="fa-brands fa-android text-danger"></i>
            </div>
            <div class="mb-2">
                <a class="text-decoration-none text-white" href="#">Apple </a><i class="fa-brands fa-apple text-danger"></i>
            </div>
        </section>
    </div> 
