 {% extends 'base.html.twig' %}

{% block title %}echec de la commande{% endblock %}

{% block body %}
<h2>Echec de votre commande &#128532; </h2>
<a href="{{path('app_cart')}}">Retour au panier</a>
{% endblock %}