 {% extends 'base.html.twig' %}

{% block title %}commande passée{% endblock %}

{% block body %}
<h2>Votre commande est passée. Merci &#128515;</h2>
<a href="{{path('app_home')}}">Retour à la page d'accueil</a>
{% endblock %}